<section class="oe_container">
    <div class="oe_row oe_spaced" style="width: 100%;">
        <h4 class="oe_slogan">Highcharts Graph Widget</h4>
        <h3 class="oe_slogan">
            To include highcharts's graph into forms's views...
        </h3>

        <div class="">
            <div class="oe_slogan" style="width: 100%;">
                <img src="screen.png" style="width: 100%;"/>
            </div>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced" style="width: 100%;">
        <h4 class="oe_slogan">How to use</h4>

        <div class="">
            <p class="oe_mt16 text-justify">
                <b>In your model</b> you need create a function that return a valid Highchart's graph data, for example:
                <pre>
# -*- coding: utf-8 -*-

from odoo import api, models


class TestGraph(models.Model):
    _name = 'highcharts_graph_widget.test_graph'
    _description = 'Testing graph feature...'

    @api.multi
    def compute_graph_data(self):
        self.ensure_one()
        return {
            'chart': {
                'plotBackgroundColor': 'white',
                'plotBorderWidth': '0',
            },
            'title': {
                'text': 'Browser market shares at a specific website, 2014'
            },
            'tooltip': {
                'pointFormat': '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            'plotOptions': {
                'pie': {
                    'allowPointSelect': 'true',
                    'cursor': 'pointer',
                    'dataLabels': {
                        'enabled': 'false'
                    },
                    'showInLegend': 'true'
                }
            },
            'series': [{
                'type': 'pie',
                'name': 'Browser share',
                'data': [
                    ['Firefox',   45.0],
                    ['IE',       26.8],
                    {
                        'name': 'Chrome',
                        'y': 12.8,
                        'sliced': 'true',
                        'selected': 'true'
                    },
                    ['Safari',    8.5],
                    ['Opera',     6.2],
                    ['Others',   0.7]
                ]
            }]
        }
                </pre>
            </p>

            <p class="oe_mt16 text-justify">
                <b>In the xml definition</b> you should write something like that:
                <pre>
&lt;?xml version="1.0" encoding="UTF-8"?&gt;

&lt;odoo&gt;
    &lt;data&gt;
        &lt;record id="highcharts_graph_widget_test_form_view" model="ir.ui.view"&gt;
            &lt;field name="name"&gt;highcharts_graph_widget_test_form_view&lt;/field&gt;
            &lt;field name="model"&gt;highcharts_graph_widget.test_graph&lt;/field&gt;
            &lt;field name="arch" type="xml"&gt;
                &lt;form&gt;
                    &lt;sheet&gt;
                        <b>
                        &lt;widget id="test_model_graph"
                                model="highcharts_graph_widget.test_graph"
                                method="compute_graph_data"
                                type="graph_widget"
                        /&gt;
                        </b>
                    &lt;/sheet&gt;
                &lt;/form&gt;
            &lt;/field&gt;
        &lt;/record&gt;

        &lt;record id="highcharts_graph_widget_test_action" model="ir.actions.act_window"&gt;
            &lt;field name="name"&gt;Graph Test&lt;/field&gt;
            &lt;field name="res_model"&gt;highcharts_graph_widget.test_graph&lt;/field&gt;
            &lt;field name="view_type"&gt;form&lt;/field&gt;
            &lt;field name="view_mode"&gt;form&lt;/field&gt;
        &lt;/record&gt;

        &lt;menuitem name="Graph Test"
                  id="highcharts_graph_widget_test_menu_item"
                  action="highcharts_graph_widget_test_action"
                  sequence="1"/&gt;
    &lt;/data&gt;
&lt;/odoo&gt;
                </pre>
            </p>
        </div>

        <div style="text-align: center; margin-top: 20px;" class="">skills.evaluator@gmail.com</div>
    </div>
</section>
