.pos-sale-ticket .myid_info_qrcode {
    height: 180px;
    width: 180px;
    margin: 15px auto 0px auto;
}

.pos-sale-ticket .myid_info_qrcode img {
    width: 200px;
    height: 200px;
    margin-top: -10px;
    image-rendering: pixelated;
}

.pos .pos-sale-ticket .emph{
    font-size: 15px;
    margin:5px;
}

.pos .pos-sale-ticket div{
    font-size: 10px;
}

.pos .product-screen .actionpad .button.pay {
    height: 108px;
}

.pos .pos-topheader .pos-branding {
    width: 639;
}

.pos .pos-topheader .pos-rightheader {
    left: 640px;
}

.pos .product-screen .leftpane {
    width: 640px;
}

.pos .product-screen .rightpane {
    left: 640px;
}

.pos .product-screen .order {
    max-width: 640px;
}

.pos .product-screen .actionpad {
    width: 200px;
    float: right;
}

.pos .product-screen .numpad {
    width: 300px;
    float: right;
}

.pos .product-screen .numpad button {
    width: 75px;
}

.pos .product-screen .product {
    display: block;
    width: 100%;
    height: auto;
    border-bottom-width: 1px;
    margin: -1px !important;
    font-size: 14px;
}

.pos .product-screen .product-name {
    position: relative;
    padding: 6px 100px 6px 8px;
    background: white;
    line-height: normal;
}

.pos .product-screen .loose-input-container {
    width: 100%;
    position: absolute;
    bottom: 0px;
    z-index: 100;
    display: none;
}

.pos .product-screen .loose-input {
    width: calc(100% - 12px);
    padding: 4px;
    font-size: 16px;
}

.pos .product-screen .price-tag {
    top: 6px;
    right: 6px;
}

.pos .discount-screen .medicine-name {
    font-size: 32px;
    line-height: 64px;
    margin-bottom: 16px;
}

.pos .discount-screen .medicine-details-box {
    position: relative;
    font-size: 16px;
}

.pos .discount-screen .medicine-details {
    padding: 8px 32px;
    border-bottom: solid 5px rgb(110, 200, 155);
}

.pos .discount-screen .medicine-details-left {
    width: 50%;
    float: left;
}

.pos .discount-screen .medicine-details-right {
    width: 50%;
    float: right;
}

.pos .discount-screen .search-bar {
	display: flex;
    font-size: 20px;
    text-align: center;
    margin-top: 16px;
}

.pos .discount-screen .popup-input {
    box-shadow: 0px 0px 0px 2px #6EC89B;
}

.pos .discount-screen .full-content {
	overflow-y: scroll; 
	height: 500px;
}

.pos .discount-screen .medicine-list {
    font-size: 16px;
    width: 100%;
    line-height: 40px;
}

.pos .discount-screen .medicine-list tr {
    transition: all 150ms linear;
    background: rgb(230, 230, 230);
}

.pos .discount-screen .medicine-list thead>tr,
.pos .discount-screen .medicine-list tr:nth-child(even) {
    background: rgb(247, 247, 247);
}

.pos .discount-screen .medicine-list th,
.pos .discount-screen .medicine-list td {
    padding: 10px 8px;
    line-height: 1.2em;
}

.medicine-detail {
    line-height: 2em;
}

.patientInfo {
    display: flex;
    line-height: 2em;
}

.patientInfo .label {
    width: 115px;
}

.patientInfo input {
    flex: 1;
    margin-right: 50px;
    font-size: 16px;
    padding: 0px 8px;
}

.error-field {
    width: 80%;
    margin: 9px auto 2px auto;
    font-size: 16px;
    color: red;
    height: 0em;
    overflow: hidden;
    transition: all .15s linear;
}

.pos .pos-receipt-container .receipt-orderlines {
    font-size: 12px;
}

.pos .pos-receipt-container .pos-disc-font {
    display: inline-block;
}

.pos .receipt-total tr td,
.pos .receipt-paymentlines tr td,
.pos .receipt-change tr td {
    padding-top: 3px;
}

