.o_content .o_mail_chat .o_mail_chat_sidebar {
    width: 350px;
}

.o_content .o_mail_chat .o_mail_chat_sidebar .o_company_item {
    padding: 4px 0px 0px 16px;
}

.o_content .o_mail_chat .o_mail_chat_sidebar .o_department_item {
    padding: 4px 0px 0px 26px;
}

.o_content .o_mail_chat .o_mail_chat_sidebar .o_company_item .oe_menu_toggler, .o_content .o_mail_chat .o_mail_chat_sidebar .o_company_item .oe_menu_toggler_company {
    padding: 2px 8px 2px 16px;
    cursor: pointer;
}

.o_mail_chat .o_mail_chat_sidebar .oe_menu_toggler:hover, .o_mail_chat .o_mail_chat_sidebar .oe_menu_toggler_company:hover {
    background-color: #373737;
}

.o_content .o_mail_chat .o_mail_chat_sidebar .o_company_item .oe_menu_toggler:before, .o_content .o_mail_chat .o_mail_chat_sidebar .o_company_item .oe_menu_toggler_company:before {
    display: inline-block;
    width: 0;
    height: 0;
    content: "&darr";
    opacity: 0.5;
    text-indent: -99999px;
    vertical-align: top;
    margin-left: -12px;
    margin-top: 4px;
    margin-right: 4px;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 4px solid #e0e0e0;
}

.o_content .o_mail_chat .o_mail_chat_sidebar .o_company_item .oe_menu_toggler.oe_menu_opened:before, .o_content .o_mail_chat .o_mail_chat_sidebar .o_company_item .oe_menu_toggler_company.oe_menu_opened:before{
    margin-top: 6px;
    margin-left: -16px;
    margin-right: 4px;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #e0e0e0;
}

.o_mail_chat_company_item, .o_mail_chat_department_item {
    display: flex;
}

.o_mail_chat_company_item .o_company_name, .o_mail_chat_department_item .o_department_name {
    flex: 1 1 auto;
}

.o_mail_chat .o_mail_chat_sidebar .o_mail_chat_company_item .o_mail_sidebar_needaction {
    margin: 0 0 0 5px;
}

.o_mail_chat .o_mail_chat_sidebar .o_mail_chat_company_item.o_unread_message {
    font-weight: bold;
}