/***************************************
  SCHEDULE CALENDAR
***************************************/
.o_calendar_container .o_calendar_view .fc-view-agendaDay .dental_schedule_container {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 5;
    height: 100%;
    overflow-x: auto;
    overflow-y: hidden;
}

.dental_schedule_container .fc-event-vert .fc-event-inner {
    overflow: visible;
}

.dental_schedule_container .fc-event {
	opacity: 1 !important;
}

.dental_schedule_container .fc-event.appointment {
    background-color: #2f70af !important;
    border-color: #31708f !important;
    color: #fff;
    opacity: 1;
    z-index: 9;
    overflow: hidden;
}

.dental_schedule_container .fc-event.arrived {
    background-color: #3c963d !important;
    border-color: #3c763d !important;
    color: #fff;
}

.dental_schedule_container .fc-event.lag {
    background-color: #ff0000!important;
    border-color: #ff0000 !important;
    color: #fff;
}

.dental_schedule_container .fc-event.done {
    background-color: #b1b1b1 !important;
    border-color: #919191 !important;
    color: #000;
}

.dental_schedule_container .fc-event.schedule {
    overflow: hidden;
}

.dental_schedule_container .fc-agenda-slots td div {
    height: 30px;
}

.dental_schedule_container .fc-tooltip {
    position: absolute;
    left: 0;
    width: 200px !important;
    top: -21px;
    z-index: 9999;
    color: #fff;
    text-align: center;
}

.dental_schedule_container .fc-tooltip:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #000 transparent transparent transparent;
}

.dental_schedule_container .fc-tooltip span {
    background: #000;
    border-radius: 5px;
    padding: 2px 5px;
}
