/***************************************
  TOOTH SURFACE
***************************************/
.toothSurfaceContainer {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.toothSurfaceContainer svg path {
    stroke: black;
    fill: white;
    stroke-width: 1px;
}

.o_form_editable .toothSurfaceContainer svg path,
.o_form_editable .toothSurfaceContainer text {
    cursor: pointer;
}

.toothSurfaceContainer .right {
    transform: translate(400px);
}

.toothSurfaceContainer .left {
    transform: scale(-1, 1) translate(-400px);
}

.toothSurfaceContainer .left text {
    transform: scale(-1, 1);
}

.toothSurfaceContainer .bottom text {
    transform: scale(1, -1);
}

.toothSurfaceContainer .bottom .left text {
    transform: scale(-1, -1);
}

.toothSurfaceContainer .short.top {
    transform: translate(0px, 130px);
}

.o_form_readonly .toothSurfaceContainer .short.top {
    transform: translate(0px, 80px);
}

.toothSurfaceContainer .short.bottom {
    transform: translate(0px, 350px) scale(1, -1);
}

.o_form_readonly .toothSurfaceContainer .short.bottom {
    transform: translate(0px, 220px) scale(1, -1);
}

.toothSurfaceContainer .long.bottom {
    transform: translate(0px, 480px) scale(1, -1);
}

.o_form_readonly .toothSurfaceContainer .long.bottom {
    transform: translate(0px, 300px) scale(1, -1);
}

.toothSurfaceContainer .extra {
    transform: translate(300px, 500px);
}

.o_form_readonly .toothSurfaceContainer .extra {
    transform: translate(300px, 330px);
}

.toothSurfaceContainer .selected {
    fill: yellow;
}

.toothSurfaceContainer .not_exist {
    fill: LightGray;
}

.toothSurfaceContainer .healthy {
    fill: green;
}

.toothSurfaceContainer .decay {
    fill: #111;
}

.toothSurfaceContainer .problem {
    fill: red;
}

.o_form_readonly text.not_exist,
.o_form_readonly text.healthy {
    display: none;
}


/***************************************
  PERIODONTAL CHART
***************************************/
table.perio {
    width: 915px;
    margin-top: 16px;
    border-collapse: collapse;
    text-align: center;
}

.perio svg path {
    cursor: pointer;
    stroke: black;
    fill: white;
    stroke-width: 1px;
}

.perio td,
.perio th {
    border: 1px solid black;
    padding: 0px;
    height: 24px;
}

.perio .PD td {
    height: 80px;
}

.perio .middle td {
    border: none;
}

.perio input {
    width: 50px;
    margin: 0px;
    padding: 0px;
    border: none;
    height: 100%;
    text-align: center;
}

.perio input[type="checkbox"] {
    width: 14px;
}

table.perio table input {
    width: 10px;
}

.perio .selected {
    fill: red;
}

.perio .right {
    transform: scale(-1, 1);
}

.perio .bottom .left {
    transform: scale(1, -1);
}

.perio .bottom .right {
    transform: scale(-1, -1);
}

.perioCalc {
	float: left;
    display: flex;
    justify-content: space-around;
    margin-top: 8px;
    color: #ff0000;
}

.perioCalc .bop {
	margin-left: 30px;
}

.perio td.clear,
.perio .numbering td {
    border: none;
}

td.greyed_out, 
td.greyed_out input,
td.left.greyed_out,
td.left.greyed_out svg path,
td.right.greyed_out,
td.right.greyed_out svg path,
td.greyed_out svg path {
	pointer-events: none;
	cursor: not-allowed;
	fill: LightGray;
	color: Gray;
	background: LightGray;
}

td.left.greyed_out svg path.selected,
td.right.greyed_out svg path.selected,
td.greyed_out svg path.selected {
	pointer-events: none;
	cursor: not-allowed;
	fill: Gray;
	color: LightGray;
	background: Gray;
}

.numbering input[type=checkbox] {
    display:none;
}

.numbering input[type=checkbox] + label {
    padding: 0 0 0 0px;
 	background: url(../img/dental-existen.png) no-repeat;
    height: 20px;
    width: 20px;
	background-size: 100%;
}

.numbering input[type=checkbox]:checked + label {
	padding: 0 0 0 0px;
	background: url(../img/dental-not-existen.png) no-repeat;
    height: 20px;
    width: 20px;
    background-size: 100%;
}

.numbering input[type=checkbox] + label:disabled,
.numbering input[type=checkbox]:checked + label:disabled {
	cursor: not-allowed;
}

tbody.top.long,
tbody.top.short,
tbody.bottom.short{
	display: block;
	margin: 0px auto 20px auto;
}

tbody.bottom.long {
	display: block;
	margin: 0px auto 0px auto;
}
