<section class="oe_container lead mt64">
	<div>
		<div class="col-md-12 mt16" style="padding:0;">
			<div class="col-md-12" style="padding:0;">
				<div class="panel-group mb0 mt0" role="tablist" id="priceAccordeon" style="padding:0;">
					<div class="panel-heading mb0 mt0 collapsed" role="tab" data-toggle="collapse" data-parent="#priceAccordeon" data-target="#priceAccordeon_area" aria-expanded="false" style="margin-left:0;padding:0 0 2px 0;text-align:right;">
						<strong>
							<div style="background-color:#875A7B;color:white;padding:5px;margin-bottom:3px;text-align:center;border-radius:5px;white-space:nowrap;display: inline-block;">
								<strong style="color:white;">
									Supported :
								</strong>
							</div>
							<div style="background-color:#875A7B;color:white;padding:5px;margin-bottom:3px;text-align:center;border-radius:5px;white-space:nowrap;display: inline-block;">
								<strong style="color:white;" title="The tool is compatible with the Odoo Enterprise version">
									<i class="fa fa-check" style="margin-left:4px;"> </i>
									Enterprise
								</strong>
							</div>
							<div style="background-color:#875A7B;padding:5px;margin-top:3px;text-align:center;border-radius:5px;white-space:nowrap;display: inline-block;">
								<strong style="color:white;" title="The tool is compatible with the Odoo Community version">
									<i class="fa fa-check" style="margin-left:4px;"> </i>
									Community
								</strong>
							</div>
							<div style="background-color:#875A7B;color:white;padding:5px;margin-bottom:3px;text-align:center;border-radius:5px;white-space:nowrap;display: inline-block;">
								<strong style="color:white;" title="The tool might be installed to Odoo.sh if you have a linked private git repository">
									<i class="fa fa-check" style="margin-left:4px;"> </i>
									Odoo.sh
								</strong>
							</div>
						</strong>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="oe_container lead bi_title_box">
	<div >
		<div >
			<h2 class="oe_slogan bi_title" style="color:#5082c4;">
				<b>Automatic Inter Company Transaction-Transfer Odoo App(Community Edition)</b>
			</h2>
			<p class="oe_slogan">
				Auto Inter-company Transfer Rules odoo app helps user to manage automatic stock and accounting inter company transaction from different company based on inter company rules setup. This Odoo module is very useful for multi company environment when it has holding company or holding warehouse process, so it require to create automatic intercompany transfer document such as sales order, purchase order, invoice, refund, receipt, delivery everything will be manage automatically based on configuration provided. User have option to link inter company documents, validate picking/receipt, create invoice/bill, validate invoice/bill and applied inter company on sale order only, purchase order only and both sale-purchase order.
			</p>
		</div>
	</div>
</section>

<section class="oe_container lead bi_features">
	<div >
		<div>
			<h3 class="oe_slogan" style="opacity:1;background: linear-gradient(to right, #86bcf2 0%, #e2f2f8 100%);padding: 10px 0px;color: ##201111;letter-spacing: 0.2em;text-transform: uppercase;text-shadow: 0.1em .04em 0.1em #7d8c88;"><b>Features</b></h3>
		</div>
		<div class="row">
			<div class="col" style="margin: 10px;">
				<div class="row">
					<div class="col-md-3 text-center">
						<img class="img img-responsive" style="max-width:100%;" src="features/company.png"/>
					</div>
					<div class="col-md-9">
					  <h4><b>Stock InterCompany Transaction.</b></h4>
					  <span class="oe_slogan">User can easily perform stock transaction between multiple companies.</span>
					</div>
				</div>
			</div>
			<div class="col" style="margin: 10px;">
				<div class="row">
					<div class="col-md-3 text-center">
						<img class="img img-responsive" style="max-width:100%;" src="features/transfer.png"/>
					</div>
					<div class="col-md-9">
						<h4><b>Return InterCompany Transaction.</b></h4>
						<span class="oe_slogan">User can easily perform return transaction between multiple companies.</span>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col" style="margin: 10px;">
				<div class="row">
					<div class="col-md-3 text-center">
						<img class="img img-responsive" style="max-width:100%;" src="features/auto_workflow.png"/>
					</div>
					<div class="col-md-9">
					  <h4><b>Auto Workflow for InterCompany Transaction.</b></h4>
					  <span class="oe_slogan">Automated workflow based on "Intercompany Transaction application on" configuration.</span>
					</div>
				</div>
			</div>
			<div class="col" style="margin: 10px;">
				<div class="row">
					<div class="col-md-3 text-center">
						<img class="img img-responsive" style="max-width:100%;" src="features/easy_access.png"/>
					</div>
					<div class="col-md-9">
						<h4><b>Easy Access InterCompany Documents.</b></h4>
						<span class="oe_slogan">Easily access to related documents of intercompany transaction with smart buttons.</span>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col" style="margin: 10px;">
				<div class="row">
					<div class="col-md-3 text-center">
						<img class="img img-responsive" style="max-width:100%;" src="features/link_document.png"/>
					</div>
					<div class="col-md-9">
					  <h4><b>Link Intercompany Document.</b></h4>
					  <span class="oe_slogan">User have option to link or not related documents of intercompany transaction.</span>
					</div>
				</div>
			</div>
			<div class="col" style="margin: 10px;">
				<div class="row">
					<div class="col-md-3 text-center">
						<img class="img img-responsive" style="max-width:100%;" src="features/validate file.png"/>
					</div>
					<div class="col-md-9">
						<h4><b>Auto Validate Picking or Receipt.</b></h4>
						<span class="oe_slogan">User have option to automatically validate picking or receipt.</span>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col" style="margin: 10px;">
				<div class="row">
					<div class="col-md-3 text-center">
						<img class="img img-responsive" style="max-width:100%;" src="features/invoice.png"/>
					</div>
					<div class="col-md-9">
					  <h4><b>Create Invoice/Bill.</b></h4>
					  <span class="oe_slogan">Customer invoice or vendor bill will created for intercompany transaction.</span>
					</div>
				</div>
			</div>
			<div class="col" style="margin: 10px;">
				<div class="row">
					<div class="col-md-3 text-center">
						<img class="img img-responsive" style="max-width:100%;" src="features/invoice_amount.png"/>
					</div>
					<div class="col-md-9">
						<h4><b>Validate Invoice / Bill.</b></h4>
						<span class="oe_slogan">Customer invoice or vendor bill will validated for intercompany transaction.</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="oe_container lead mt64">
	<div >
		<div class="oe_slogan oe_spaced text-center">
			<a class="btn mt8 mr8" title="Demo Request" style="background-color: #2875aa;color: #FFFFFF !important;font-size: 20px;font-weight: bold;border-radius: 7px;" href="mailto:sales@browseinfo.in?Subject=Demo Request for Automatic Inter Company Transaction-Transfer Odoo App(Community Edition)" target="_top"> Demo Request </a>
			<a class="btn mt8 ml8" title="Video Tutorial" style="background-color: #2875aa;color: #FFFFFF !important;font-size: 20px;font-weight: bold;border-radius: 7px;" href="https://youtu.be/yP_wTRdzaoc" target="_blank"> Video Tutorial</a>
		</div>
	</div>
</section>


<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #2875aa;font-size: 35px;font-style: italic;font-weight:bolder;"><b>Auto Inter Company Transaction</b></p>
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">Inter Company Transaction Access Rights</p>
			<p class="oe_slogan">The user with "InterCompany Transaction Manager" access rights can only create inter company transactions.</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="1_access_rights.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">InterCompany Configurations</p>
			<p class="oe_slogan">User have option to link inter company document, validate picking/receipt, create invoice/bill, validate invoice/bill.</p>

			<p class="oe_slogan">User have to select "Sale Order" or "Sale and Purchase order" to automatically create inter company transaction from sales order.</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="20_sale_config.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">InterCompany Warehouse Configurations</p>
			<p class="oe_slogan">User can select inter company warehouse under company view, based on selected warehouse inter-company sale order's warehouse and purchase order's receipt picking will be assigned on generated documents. </p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="20_comp_conf.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #2875aa;font-size: 35px;font-style: italic;font-weight:bolder;"><b>Auto InterCompany Transaction from Sales Order</b></p>
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">Sales Quotation</p>
			<p class="oe_slogan">User have to create and confirm sales quotation.</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="21_sale_quo.png">

			<p class="oe_slogan">On confirm sales quotation user can see new create inter company transaction on smart button.</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="22_sale_order.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan">User can see created stock inter company transaction and purchase order for that.</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="23_auto_sale_int_trans.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">Inter Company Transaction detail on Purchase Order</p>
			<p class="oe_slogan">User can see new created purchase order for inter company transaction.</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="24_auto_sale_int_purchase.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #2875aa;font-size: 35px;font-style: italic;font-weight:bolder;"><b>Auto InterCompany Transaction from Purchase Order</b></p>
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">InterCompany Configurations</p>
			<p class="oe_slogan">User have to select "Purchase Order" or "Sale and Purchase order" to automatically create inter company transaction from purchase order.</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="25_purchase_conf.png">
		</div>
	</div>
</section>
<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">Purchase Quotation</p>
			<p class="oe_slogan">User have to create and confirm purchase quotation.</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="26_purchase_quo.png">

			<p class="oe_slogan">On confirm purchase quotation user can see new create inter company transaction on smart button.</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="27_purchase_order.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan">User can see created stock inter company transaction.</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="28_auto_purchase_int_trans.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">Inter Company Transaction detail on Sale Order</p>
			<p class="oe_slogan">User can see new created sale order for inter company transaction.</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="29_auto_purchase_int_sale.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #2875aa;font-size: 35px;font-style: italic;font-weight:bolder;"><b>Manual Inter Company Transaction</b></p>
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">Inter Company Transaction Menu</p>
			<p class="oe_slogan">Under Inventory > InterCompany Transaction > Stock InterCompany Transaction menu user can find and create stock inter company transaction. </p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="3_intercompany_menu.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan">User can see created stock inter company transaction in draft state.</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="4_inter_transection_draft.png">

			<p class="oe_slogan">Sale order will created for the target company that is the company of the warehouse which is set under "To Warehouse" and related picking and invoice will auto created.</p>

			<p class="oe_slogan">If user enable "Link Intercompany Document" option under configuration then all documents related to inter company transaction like sale order, delivery order, purchase order, incoming shipment, customer invoice, vendor bill etc will be linked to stock inter company transaction.</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="5_inter_transection_process.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">Inter Company Transaction detail on Sales Order</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="6_tran_sales.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">Inter Company Transaction detail on Delivery Order</p>
			<p class="oe_slogan">If user enable "Validate Picking/Receipt" option under configuration then delivery order will automatically validated.</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="6_trans_sale_delivery.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">Inter Company Transaction detail on Purchase Order</p>
			<p class="oe_slogan">Purchase order will be created with the company which is set under "From Warehouse" and all related shipment and bill will auto created.</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="7_trans_purchas.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">Inter Company Transaction detail on Incoming Shipment</p>
			<p class="oe_slogan">User can see auto validated incoming shipment of inter company transaction as per configuration.</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="7_trans_purchase_receipt.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">Customer Invoice and Vendor Bill</p>

			<p class="oe_slogan">If user enable "Create Invoice/Bill" option under configuration then customer invoice and vendor bill will be created for inter company transaction.</p>

			<p class="oe_slogan">If user enable "Validate Invoice / Bill" option then customer invoice and vendor bill will be validated.</p>

			<p class="oe_slogan">User can see created and validated customer invoice and vendor bill for stock inter company transaction.</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="9_trans_inv1.png">
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="10_trans_inv2.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #2875aa;font-size: 35px;font-style: italic;font-weight:bolder;"><b>Reverse InterCompany Transaction</b></p>
			<p class="oe_slogan">To Reverse inter company transaction user have to click "Reverse" button on inter company transfer.</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="11_reverse_btn.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">Reverse InterCompany Transaction Menu</p>
			<p class="oe_slogan">Under Inventory > InterCompany Transaction > Return InterCompany Transaction menu user can find return transaction transaction.</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="12_return_trans_menu.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan">User can see created return inter company transaction in draft state with sale order and purchase order.</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="13_return_trans_draft.png">

			<p class="oe_slogan">On click of "Process" button user can see customer invoice and vendor bill is created, state will be changed to "Process" form "Draft". </p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="14_return_trans_process.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">Inter Company Transaction detail on Sales Order</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="15_re_trans_sales.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">Inter Company Transaction detail on Delivery Order</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="15_re_tra_sales_delivery.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">Inter Company Transaction detail on Purchase Order</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="16_re_trans_purchase.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">Inter Company Transaction detail on Incoming Shipment</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="16_re_trans_purchase_receipt.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">Customer Invoice and Vendor Bill</p>
			<p class="oe_slogan">User can see created customer invoice and vendor bill for return inter company transaction.</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="18_re_tran_inv1.png">
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="19_re_trans_inv2.png">
		</div>
	</div>
</section>

<section class="oe_container oe_dark" style="min-width: 110%;margin-left: -5%;">
	<div>
		<div class="row">
			<div class="col-sm-4" style="margin: auto;">
				<p class="oe_slogan" style="font-size: 35px;color: #5082c4;font-style: italic;font-weight: bold;">Apps May You Like</p>
			</div>
		</div>
		<div class="row col-sm-12" style="margin-left: 1%;padding: 1% 8%;">
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/12.0/bi_inventory_valuation_reports/">
					<img class="img img-responsive" src="related/bi_inventory_valuation_reports.png" style="width: 100%;"/>
				</a>
			</div>
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/12.0/bi_inventory_overstock_report/">
					<img class="img img-responsive" src="related/bi_inventory_overstock_report.png" style="width: 100%;"/>
				</a>
			</div>
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/12.0/bi_inventory_coverage_report/">
					<img class="img img-responsive" src="related/bi_inventory_coverage_report.png" style="width: 100%;"/>
				</a>
			</div>
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/12.0/bi_inventory_adjustment_cancel_reverse/">
					<img class="img img-responsive" src="related/bi_inventory_adjustment_cancel_reverse.png" style="width: 100%;"/>
				</a>
			</div>
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/12.0/stock_landed_cost_automate/">
					<img class="img img-responsive" src="related/stock_landed_cost_automate.png" style="width: 100%;"/>
				</a>
			</div>
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/12.0/bi_sale_stock_check/">
					<img class="img img-responsive" src="related/bi_sale_stock_check.png" style="width: 100%;"/>
				</a>
			</div>
		</div>
	</div>
</section>

<section class="oe_container oe_dark" style="min-width: 110%;margin-left: -5%;">
	<div>
		<div class="row">
			<div class="col-sm-4" style="margin: auto;">
				<p class="oe_slogan" style="font-size: 35px;color: #5082c4;font-style: italic;font-weight: bold;">Most Demanded Apps</p>
			</div>
		</div>
		<div class="row col-sm-12" style="margin-left: 1%;padding: 1% 8%;">
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/12.0/pos_orders_all/">
					<img class="img img-responsive" src="demanded/all_in_one_pos.png" style="width: 100%;"/>
				</a>
			</div>
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/12.0/bi_customer_overdue_statement/">
					<img class="img img-responsive" src="demanded/customer_overdue.png" style="width: 100%;"/>
				</a>
			</div>
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/12.0/generic_excel_reports/">
					<img class="img img-responsive" src="demanded/generic_excel_reports.png" style="width: 100%;"/>
				</a>
			</div>
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/12.0/sales_commission_generic/">
					<img class="img img-responsive" src="demanded/sale_commision.png" style="width: 100%;"/>
				</a>
			</div>
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/12.0/bi_generic_import/">
					<img class="img img-responsive" src="demanded/bi_generic_import.png" style="width: 100%;"/>
				</a>
			</div>
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/12.0/branch/">
					<img class="img img-responsive" src="demanded/branch.png" style="width: 100%;"/>
				</a>
			</div>
		</div>	
	</div>
</section>

<section class="oe_container">
	<div >
		<div >
			<h2 class="oe_slogan">Free Support</h2>
			<h3 class="oe_slogan" style="font-size: 21px; color: #000000 !important;">You will get 90 Days free support incase any bugs or issue (Except data recovery).</h3>
			<p class="oe_slogan" style="font-size: 18px; ">
		At BrowseInfo we offer  end to end solution for Odoo services. Which includes analysis &amp; consultation on the workflows and integration part.  Please note that You're not allowed to distribute this module after purchase! Incase of any question regarding this module feel free to email us on <a href="mailto:sales@browseinfo.in">sales@browseinfo.in</a> or raise a ticket on support.
			</p>
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div >
		<div >
			<div class="img img-responsive text-center">
				<a href="http://www.browseinfo.in" target="new" style="display: grid;">
					<img src="bi_logo.png" style="margin: auto;max-width: 350px;">
				</a>
			</div>
		</div>
		<div class="oe_slogan oe_spaced text-center">
			<a class="btn mt8" title="Website" style="background-color: #3497db;color: #FFFFFF !important;font-size: 20px;font-weight: bold;" href="https://browseinfo.in/" target="_blank"> Website </a>
			<a class="btn mt8" title="Email on Support" style="background-color: #3497db;color: #FFFFFF !important;font-size: 20px;font-weight: bold;" href="https://browseinfo.in/request-support/" target="_blank"> Support Request </a>
			<a class="btn mt8" title="Request New Features now !" style="background-color: #3497db;color: #FFFFFF !important;font-size: 20px;font-weight: bold;" href="https://browseinfo.in/our-services/" target="_blank">Services</a>
		</div>
	</div>
</section>