@charset "utf-8";


.openerp .oe_mno_dash .oe_mno_dash_prod td div{
	font-size: 12px;
	font-family: Verdana;
}

.openerp .oe_mno_dash .jqx-widget-header{
	color: white;
	background: #398ae2;
	font-weight: bold;
}
#report > tbody > tr.oe_mno_dash_prod table{
	font-size: 11px;

}
/*#report > tbody > tr.oe_mno_dash_prod table td{
	height: 20px;
}*/

#fixed_datetodate{
	position:fixed;
	top: 124px;
	left: 290px;
	z-index: 100;
	background-color: rgba(0, 0, 0, 0.8);
	color: white;
	/*color: #004889;*/
}
#datetodate{
	background-color: rgba(0, 0, 0, 0.8);
}
body > div.date-picker-wrapper.no-shortcuts.two-months.no-gap{
	z-index: 100;
}
#project_fixed{
	position:fixed;
	top: 152px;
	left: 290px;
	z-index: 50;
	background-color: rgba(0, 0, 0, 0.8);
}
#project_fixed td{
	color: white;
	/*color: #004889;*/
	text-align: center;
}
.oe_mno_dash_see {
	background-color: rgba(0, 0, 0, 0.8);
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
	border-radius:7px;
	border:1px solid #33bdef;
	display:inline-block;
	cursor:pointer;
	
	font-family:Arial;
	font-size:16px;
	padding:0px 19px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
#fixed_datetodate a{
	color: white;
	/*color: #004889;*/
}
.oe_mno_dash_see:hover {
	background-color: GreenYellow;
}
.oe_mno_dash_see:active {
	position:relative;
	top:1px;
}
#columntablegrid_project1{
z-index: 1;
}
#columntablegrid_project2{
z-index: 1;
}
#columntablegrid_project3{
z-index: 1;
}
#contenttablegrid_project1{
	z-index: 1;
}
#contenttablegrid_project2{
	z-index: 1;
}
#contenttablegrid_project3{
	z-index: 1;
}
.openerp .oe_mno_dash .fixed_row h2:hover{
	color: #398ae2;
}

/*.openerp .oe_mno_dash tr{
	visibility:	visible;	
}
*/