<?xml version="1.0" encoding="utf-8"?>
<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Монгол төсвийн менежмент</h2>
        <h3 class="oe_slogan oe_mb32">Төсөв бүртгэл, төсвийн гүйцэтгэлийг хүссэн цагтаа,
        <br> өртгийн төв бүрээрх төсөв, төсвийн шинжилгээ</h3>
        <div class="oe_span4 text-center img-center">
           <span class="fa fa-balance-scale fa-2x"/>
            <p class="oe_mt16">
            Компанийн оны, улирлын, сарын төсөв бүртгэнэ. Мөн төслийн төсөв бүртгэх боломжтой. Төсөв батлагдах урсгалыг системээр тохируулснаар төсөв батлах нүсэр ажлыг ширээнийхээ араас цөөн үйлдлээр хийнэ
            </p>
        </div>
        <div class="oe_span4 text-center">
            <span class="fa fa-money fa-2x"/>
            <p class="oe_mt16">
            Санхүүгийн ажил гүйлгээ хөтлөхөд төсвийн гүйцэтгэл автомат хөтлөгдөнө. Төсвийн гүйцэтгэлийн тайланг өдөр тутамдаа үнэнээр нь харж шийдвэр гаргана.
            </p>
        </div>
        <div class="oe_span4 text-center">
            <span class="fa fa-usd fa-2x"/>
            <p class="oe_mt16">
            Төсвийн тодотголыг хялбархан хийх боломжтой. Тодотгох үйлдэл нь одоогийн төсвийг хэвээр үлдээж төсөвийн шинэ хуулбарыг үүсгэнэ. Төсвийн гүйцэтгэлээ төсвийн аль ч хувилбартайгаа харьцуулж харах, шинжилгээ хийх боломжтой.
            </p>
        </div>
    </div>
</section>

<section class="oe_container oe_separator">
</section>
