@charset "utf-8";
.oe_comparison .padding20 {
    padding: 0px 20px;
}

.oe_form_readonly .oe_comparison .oe_comparison_button_add {
    display: none;
}

.oe_form_readonly .oe_comparison div.oe_view_nocontent {
    display: none;
}
.comparison_viewport {
    box-sizing: border-box;
    height: 500px;
    overflow-y: auto;
    padding: 0px 0px 0px 0px;
}

.comparison_wrapper {
    position: relative;
}

.oe_comparison {
    overflow-x: auto;
    margin-left: 250px;
}

.oe_comparison table.comparison{
    width: max-content;
    width: -moz-max-content;
}

.oe_comparison .freeze {
    position: absolute;
    width: 250px;
    left: 0;
    top: auto;
    border-top-width: 1px;
    margin-top: -1px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.oe_comparison table input[type='text'] {
    width: 100%;
    margin: 0px;
    border: 1px solid red;
}

.oe_comparison table input[type='date'] {
    width: 100%;
    margin: 0px;
    border: 1px solid red;
}

.oe_comparison input[type=checkbox] {
    width: 30px;
    height: 30px;
    border: 1px solid red;
}

.oe_comparison .c2 {
    width:200px
}

.oe_comparison td {
    padding: 3px 5px;
    font-size: 12px;
    text-align: right;
}

.oe_comparison td.border-red {
    border: 1px solid red;
}

.oe_comparison td {
    border-width: 1px !important;
    border-style: dotted !important;
    border-color: #CECECE !important;
    vertical-align: middle;
}

.oe_comparison .bold {
    font-weight: bold;
}

.oe_comparison .td_background_color {
    background-color: #F0F0F0;
}

.oe_comparison .solid-all,
.oe_comparison .solid-bottom,
.oe_comparison .solid-left,
.oe_comparison .solid-right,
.oe_comparison .solid-top {
    border-width: 1px;
    border-color: #565656;
}

.oe_comparison .solid-all {
    border-style: solid;
}

.oe_comparison .solid-bottom {
    border-bottom-style: solid;
}

.oe_comparison .solid-left {
    border-left-style: solid;
}

.oe_comparison .solid-right {
    border-right-style: solid;
}

.oe_comparison .solid-top {
    border-top-style: solid;
}

.oe_comparison tr.solid-top td {
    padding-top: 4px !important;
}

.oe_comparison tr.solid-bottom td {
    padding-bottom: 4px !important;
}

.oe_comparison tr th:first-child,
.oe_comparison tr th:last-child,
.oe_comparison tr td:first-child,
.oe_comparison tr td:last-child {
    border-left-width: 0px;
    border-right-width: 0px;
}

.oe_comparison th {
    text-align: center;
    color: #006699;
    width: 18%;
    font-family: "Helvetica Neue", Arial, Verdana, "Nimbus Sans L", sans-serif;
    font-size: 20px;
    background: #eeeeee;
    min-width: 47px;
}

.oe_comparison .oe_comparison_total {
    background: #eeeeee;
}

.oe_comparison .oe_comparison_account {
    text-align: left;
}

.oe_comparison .oe_comparison_first_col {
    min-width: 130px;
}

.oe_comparison td input.oe_comparison_input {
    padding-right: 2px !important;
    text-align: right;
    min-width: 0 !important;
}

.oe_comparison td.oe_comparison_total {
    font-weight: bold;
    padding: 5px 3px !important;
}

.oe_comparison .oe_comparison_adding_tot {
    display: table;
    width: 100%;
}

.oe_comparison .oe_comparison_adding {
    display: table-cell;
    text-align: left;
}

.oe_comparison .oe_comparison_tottot {
    display: table-cell;
}

.oe_comparison .oe_comparison_add_row td {
    text-align: right;
}

.oe_comparison .oe_comparison_add_row .oe_form_field_many2one {
    display: inline-block;
    width: 200px;
}

.oe_comparison .oe_comparison_today {
    background: #ffddee;
}