<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h1 class="oe_slogan" style="color:#875A7B;">Prometheus Exporter for Odoo</h1>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Built in collectors</h2>
        <h3 class="oe_mt32 oe_slogan">
            A set of built in collectors to get you started
        </h3>
    </div>
    <div class="oe_row">
        <div class="oe_span4 text-center">
            <span class="fa fa-database fa-2x"/>
            <div class="oe_mt16">
                <h3>
                    Database
                </h3>
                <p>
                    Database and filestore size<br />UUID to detect duplicated databases
                </p>
            </div>
        </div>
        <div class="oe_span4 text-center">
            <span class="fa fa-building fa-2x"/>
            <div class="oe_mt16">
                <h3>
                    Enterprise
                </h3>
                <p>
                    Check almost expired databases
                </p>
            </div>
        </div>
        <div class="oe_span4 text-center">
            <span class="fa fa-calendar fa-2x"/>
            <div class="oe_mt16">
                <h3>
                    Scheduled tasks
                </h3>
                <p>
                    Check how many tasks failed to execute on time
                </p>
            </div>
        </div>
    </div>
    <div class="oe_row">
        <div class="oe_span4 text-center">
            <span class="fa fa-user fa-2x"/>
            <div class="oe_mt16">
                <h3>
                    Users
                </h3>
                <p>
                    Internal and external<br />Also check active users
                </p>
            </div>
        </div>
        <div class="oe_span4 text-center">
            <span class="fa fa-envelope fa-2x"/>
            <div class="oe_mt16">
                <h3>
                    Mails
                </h3>
                <p>
                    Failed messages<br />Sent and received messages
                </p>
            </div>
        </div>
        <div class="oe_span4 text-center">
            <span class="fa fa-server fa-2x"/>
            <div class="oe_mt16">
                <h3>
                    System
                </h3>
                <p>
                    Python information<br />Used threads and memory
                </p>
            </div>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Custom collectors</h2>
        <h3 class="oe_mt32 oe_slogan">
            Built in mind to support custom collectors
        </h3>
        <div class="oe_row_img oe_centered oe_mt32">
            <img class="oe_picture oe_screenshot" style="margin: auto;"src="custom_collector.png"/>
        </div>
        <div class="oe_row oe_span12 text-center">
            <small>Note: Collectors <strong>aren't</strong> database models</small>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Installation and Configuration</h2>
        <h3 class="oe_mt32 oe_slogan">
            Easy to install and configure
        </h3>
        <div class="oe_span6 text-center">
            <div class="oe_mt16">
                <h3>
                    Installation
                </h3>
                <p>
                    Place the module on your module path<br />
                    Add the module as a server wide module<br />
                    There's no need to install inside a database
                </p>
            </div>
        </div>
        <div class="oe_span6">
            <div class="oe_mt16">
                <h3 class="text-center">
                    Configuration
                </h3>
                <p>
                    Add a custom section to the configuration file named <strong>prometheus</strong><br />
                    Add the <strong>auth</strong> key to set an authentication key. By default, there's no authentication key<br />
                    Add the <strong>collectors</strong> key with a list of the collectors to use. By default, all collectors are used
                    Point Prometheus to &lt;odoo_url&gt;/metrics or &lt;odoo_url&gt;/metric/&lt;auth key&gt; to consume
                </p>
            </div>
        </div>
    </div>
</section>
