
@notification-doctor-info-bg-color: #EAFBFC;
.o_notification_manager {
    .o_notification {
        &.o_doctor_info {
            background-color: @notification-doctor-info-bg-color;
        }
    }
}

