.loyalty-cards-section{
    font-size: 16px;
    width: 100%;
    line-height: 40px;
}
.loyalty-cards-section th,
.loyalty-cards-section td {
    padding: 0px 8px;
}
.loyalty-cards-section tr{
    transition: all 150ms linear;
    background: rgb(230,230,230);
}
.loyalty-cards-section thead > tr,
.loyalty-cards-section tr:nth-child(even) {
    background: rgb(247,247,247);
}
.loyalty-cards-section tr.highlight{
    transition: all 150ms linear;
    background: rgb(110,200,155) !important;
    color: white;
}
.loyalty-cards-section tr.lowlight{
    transition: all 150ms linear;
    background: rgb(216, 238, 227);
}
.loyalty-cards-section tr.lowlight:nth-child(even){
    transition: all 150ms linear;
    background: rgb(227, 246, 237);
}
.pos .search-bar .card-list tr {
    transition: all 150ms linear;
    background: rgb(230, 230, 230);
}

.pos .search-bar .card-list thead>tr,
.pos .search-bar .card-list tr:nth-child(even) {
    background: rgb(247, 247, 247);
}
.pos .order .summary .line .fiscal {
    font-size: 16px;
    font-weight: normal;
    text-align: center;
}

/*search card*/

/*  b) the search box */

.pos .search-bar {
    right: 2px;
}
.pos .card-search .popup-input {
    box-shadow: 0px 0px 0px 2px #6EC89B;
}
.pos .search-bar input {
    width: 80%;
    border: 1px solid #cecbcb;
    padding: 5%;
    margin: 5%;
    background-color: white;
    border-radius: 20px;
    font-family: "Lato","Lucida Grande", Helvetica, Verdana, Arial;
    font-size: 13px;
    text-align: center;
}
.pos .search-bar input:focus {
    outline: none;
    box-shadow: 0px 0px 0px 2px rgb(153, 153, 255) inset;
    color: rgb(153, 153, 255);
    text-align: left;
}
.pos .search-clear {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 11px;
    left: 11px;
    cursor: pointer;
}

/*card number*/

.left-content .card-panel {
    margin: 0px 16px;
}

.left-content .card-panel .card-row {
    display: flex;
    background: #e2e2e2;
    border: solid 1px #cacaca;
    border-top-width: 1px;
    font-size: 14px;
    margin: 16px 0 0 0;
}

.left-content .card-panel .card-row.type-select-row {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-top-width: 1px;
}

.left-content .card-panel .card-row:last-child,
.left-content .card-panel .card-row.only-child {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}



.left-content .card-panel .card {
    display: flex;
    background: #e2e2e2;
    border: solid 1px #cacaca;
    border-top-width: 1px;
    font-size: 14px;
    line-height: 34px;
    padding-left: 10px;
}
.left-content .card-panel .card.type-select-row {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-top-width: 1px;
}

.left-content .card-panel .card:last-child,
.left-content .card-panel .card.only-child {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.left-content .card-panel .card-label {
    margin-right:10px;
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}

.left-content .card-panel .flex-grow {
    flex-grow: 1;
}

.left-content .card-panel .type-select-row .paymentmethod {
    background-color: transparent;
    border: none;
    border-left: solid 1px rgb(169, 169, 169);
    padding-left: 20px;
}

.left-content .card-panel .check_register {
    width: calc(100% - 19px);
    height: 25px;
    margin-top: 10px;
    padding-left: 12px;
}

.left-content .card-panel .company-name {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.paybonuscard{
    background: #e2e2e2;
    line-height: 74px;
    line-width: 60px;
    margin-bottom: 20px !important;
    font-size: 16px;
    border: solid 1px rgb(202, 202, 202);
    border-top-width: 1px;
    cursor: pointer;
    text-align: center;
    border-radius: 3px;
    margin: 0 16px 0 16px;
}
.paybonuscard:active{
    background: black;
    border-color: black;
    color: white;
}
/*bill */
.left-content .bill-type {
    margin: 0px 16px;
}

.left-content .bill-type .flex-row {
    display: flex;
    background: #e2e2e2;
    border: solid 1px #cacaca;
    border-top-width: 0px;
    font-size: 14px;
}

.left-content .bill-type .flex-row.type-select-row {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-top-width: 1px;
}

.left-content .bill-type .flex-row:last-child,
.left-content .bill-type .flex-row.only-child {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.left-content .bill-type .bill-type-label {
    height: 50px;
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.left-content .bill-type .flex-grow {
    flex-grow: 1;
}

.left-content .bill-type .type-select-row .paymentmethod {
    background-color: transparent;
    border: none;
    border-left: solid 1px rgb(169, 169, 169);
    padding-left: 20px;
}

.left-content .bill-type .check_register {
    width: calc(100% - 19px);
    height: 25px;
    margin-top: 10px;
    padding-left: 12px;
}

.left-content .bill-type .company-name {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.pos-sale-ticket .myid_info_qrcode {
    height: 180px;
    width: 180px;
    margin: 15px auto 0px auto;
}

.pos .pos-sale-ticket .emph{
    font-size: 13px;
    margin:5px;
}

.pos .pos-sale-ticket div{
    font-size: 10px;
}

.pos .pos-receipt-container .pos-sale-ticket {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

.pos .pos-receipt-container .pos-sale-ticket span{
    white-space: nowrap;
    font-size: 13px;
}

.pos .pos-receipt-container .pos-sale-ticket hr {
    border: 0;
    border-bottom: 2px dashed black;
}

.pos .pos-sale-ticket #id_ddtd, table{
    font-size: 11px;
}

.pos .pos-receipt-container .pos-sale-ticket .lottery {
    text-align: center;
}

.pos .receipt-total tr td,
.pos .receipt-paymentlines tr td,
.pos .receipt-change tr td {
    padding-top: 3px;
}

.pos .pos-sale-ticket table td {
    font-size: 10px !important;
}

@media print {
    .pos .pos-sale-ticket{
        font-size: 10px !important;
    }
}
/*The numpad*/
.pos .numpad {
    display: inline-block;
    float: right;
    text-align: center;
    width: 216px;
    margin: 16px;
    margin-top: 8px;
    margin-left: 0px;
    border: none;
    border-radius: 0;
    border-top: 1px solid;
    border-color: #bfbfbf;
    border-top-right-radius: 4px;
}
    .pos .numpad button {
    float: left;
    height: 54px;
    width: 54px;
    font-weight: bold;
    vertical-align: middle;
    color: #555555;
    border-radius: 0;
    border: none;
    border-right: 1px solid;
    border-bottom: 1px solid;
    border-color: #bfbfbf;
    transition: all 150ms linear;
}
    .pos .numpad button:hover {
    background: #efefef;
}
.pos .numpad button:active {
    background: black;
    color: white;
    border-color: transparent;
}
.pos .numpad button:nth-child(4) {
    border-top-right-radius: 4px;
}
.pos .numpad button:last-child {
    border-bottom-right-radius: 4px;
}
.pos .input-button {
    font-size: 24px;
}
.pos .mode-button {
    font-size: 14px;
}
.pos .mode-button.selected-mode {
    color: white;
    background: #6EC89B;
    border-color: transparent;
}
.pos .mode-button.selected-mode:hover {
    background: #6EC89B;
    color: white;
    border-color: transparent;
}
/*pos header*/
.pos .pos-topheader .pos-branding{
    left:0;
    top:0;
    width:200px;
    height:100%;
    margin:0;
    padding:0;
    border-right: 1px solid #373737;
    line-height:100%;
    vertical-align: middle;
    float: right;
}
.pos .company-logo {
    height: 50px;
    margin-left: 7px;
    margin-top: 0;
    vertical-align:middle;
}
.pos .pos-rightheader .username{
   float:right;
    color:#DDD;
    font-size:16px;
    margin-right:32px;
    line-height: 48px;
    font-style:italic;
    cursor: pointer;
    padding: 0 5px 0 5px;
}
.pos .order-selector {
    display: -webkit-flex;
    display: flex;
    -webkit-flex: 1;
    flex: 1;
    max-width: -moz-available;
    max-width: -webkit-fill-available;
}
.pos .pos-topheader .pos-session{
    width:200px;
    height:100%;
    margin-left:200px;
    padding:0;
    line-height:100%;
    vertical-align: middle;
    line-height: 45px;
    color:#DDD;
    }
.pos .pos-topheader .pos-session .session-date{
     margin-top:50px;
     line-height:100%;
     height: 100%;
     width:100%;
     vertical-align:middle;
       font-size:20px;
     }

     /*card point*/
.card-point {
    margin: 16px;
}
.card-point .button {
    background: #e2e2e2;
    line-height: 54px;
    width: 100%;
    font-size: 16px;
    border: solid 1px rgb(202, 202, 202);
    border-top-width: 0px;
    cursor: pointer;
    text-align: center;
}
.card-point .button:first-child {
    border-top-width: 1px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.card-point .button:last-child {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}
.card-point .button:active {
    background: black;
    border-color: black;
    color: white;
}